* {
    margin: 0;
    padding: 0;
}

.main {
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5) 50%), url("background.jpg");
    background-position: center;
    background-size: cover;
    height: 109vh;
    position: relative;
}

.navbar {
    width: 1200px;
    height: 75px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon {
    width: 200px;
    height: 70px;
}

.logo {
    color: rgb(5, 5, 5);
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    padding-top: 10px;
}

.menu {
    flex: 1;
    margin-left: 20px;
}

.menu ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu ul li {
    list-style: none;
    font-size: 15px;
    margin: 0 10px;
}

.menu ul li a {
    text-decoration: none;
    color: black;
    font-family: 'Times New Roman';
    font-weight: bold;
    transition: 0.5s ease-in-out;
}

.menu ul li a:hover {
    color: white;
}

.search {
    display: flex;
    align-items: center;
    gap: 10px;
}

.srch {
    font-family: 'Times New Roman';
    width: 250px;
    height: 40px;
    background: transparent;
    border: 1.5px solid #ff7200;
    color: black;
    font-size: 16px;
    padding: 10px;
    border-radius: 10px 0 0 10px;
}

.btn {
    width: 100px;
    height: 40px;
    background: #ff7200;
    border: 2px solid #ff7200;
    color: white;
    font-size: 14px;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
}

.content {
    width: 600px;
    color: black;
    padding: 50px 20px;
    position: relative;
    z-index: 1;
}

.content .par {
    font-family: Arial;
    letter-spacing: 1px;
    line-height: 30px;
}

.content h2 {
    font-family: 'Times New Roman';
    font-size: 40px;
    letter-spacing: 2px;
    margin-bottom: 1em;
}

.cn {
    width: 200px;
    height: 40px;
    background: #ff7200;
    border: none;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
    margin-top: 20px;
}

.cn a {
    text-decoration: none;
    color: black;
}

.cn:hover {
    background-color: #fff;
}

.form {
    width: 250px;
    height: auto;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 200px;
    right: 50px;
    border-radius: 10px;
    padding: 30px;
    z-index: 1;
}

.form h2 {
    font-family: sans-serif;
    text-align: center;
    color: #ff7200;
    font-size: 22px;
    margin-bottom: 20px;
}

.form input {
    width: 100%;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #ff7200;
    border-top: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    margin-top: 20px;
    font-family: sans-serif;
}

.form input:focus {
    outline: none;
}

::placeholder {
    color: #fff;
    font-family: Arial;
}

.btnn {
    width: 100%;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
}

.btnn:hover {
    background: white;
    color: #ff7200;
}

.btnn a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.form .link {
    font-family: Arial;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}

.form .link a {
    text-decoration: none;
    color: #ff7200;
}

.liw {
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
    color: white;
}

.icons {
    text-align: center;
}

.icons a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    padding: 0 10px;
}

.icons a:hover {
    color: #ff7200;
}

.icons a:hover {
    color: #ff7200;
}